{include file="public_header.html"}
<script src="/style/js/Validform_min.js" type="text/javascript"></script>
<div class="rzlc-box">
    <div class="content-box clearfix">
        <div class="pull-left rzlc-t1">
            <span>欢迎入驻</span><br />拼团网站
        </div>
        <div class="pull-right">
            <ul class="rzlc-li">
                <li>1.填写店铺信息</li>
                <li>2.填写企业/个人信息</li>
                <li class="active">3.资质审核</li>
                <li>4.支付保障金费用</li>
                <li>5.完成入驻</li>
            </ul>
        </div>
    </div>
</div>
<div class="news-box">
    <div class="content-box rz-box">
        <div class="skzd-box">
            {if $data.b_info.status==2}
            <h3>{$data.b_info.mark}</h3>
                <h3><a href="/content/apply"><font color="red">修改</a></a></h3>
            {elseif $data.b_info.status==0}
            <h1>您的申请已提交，请耐心等待！</h1>
            <h2>我们将在48小时内处理您的申请！</h2>
            {/if}
        </div>
    </div>
</div>
{include file="public_footer.html"}
