{include file="public_header.html"}
<div class="ban-box" style="background: url({zz mod=fileurl source=$data.ban_thumb}) no-repeat center center; height: 250px;">
	<div class="content-box clearfix">
		<div class="pull-left help-l">
			<p>掌握最新资讯，了解更多行业动态</p>
			<h2>{$data.row.catname}</h2>
		</div>
		<!--<div class="pull-right help-r">
			<p>客服热线：{C("business_tel")}</p>
			<p>工作时间：8:30—20:30</p>
		</div>-->
	</div>
</div>
<div class="news-box">
	<div class="content-box">
		{foreach from=$data.list item=m}
		<dl class="clearfix news-dl">
			<dt>
				<a href="{$m.url}"><img src="{zz mod=fileurl source=$m.thumb}"/></a>
			</dt>
			<dd>
				<a href="{$m.url}">{$m.title}</a>
				<p>{$m.content|strip_tags|truncate:100}</p>
				<div class="n-tt">
					<span class="pull-left">{$m.hits}次</span>
					<span>{$m.createtime|date_format:"Y-m-d"}</span>
				</div>
			</dd>
		</dl>
		{/foreach}
		{if $data.list && $page}
		<div class="new-page">
			<a {$page.prev}><</a>
			{foreach from=$page.links item=v key=k}
			{if $k==$page.nonce}
			<a {$v} class="dq">{$k}</a>
			{else}
			<a {$v}>{$k}</a>
			{/if}
			{/foreach}
			<a {$page.next}>></a>
		</div>
		{/if}
	</div>
</div>
{include file="public_footer.html"}