{include file='../public_btn.html'}
<h3 class="c-red" style="padding: 5px 16px 8px;">核销员使用微信扫一扫来扫描客户的自提二维码，点击确认核销，客户的订单将变成完成的状态。（注：核销员必须绑定微信）</h3>
<div class="html-box">
    <table class="list">
        <thead>
        <tr>
            <th class="w320" colspan="2">核销员</th>
            <th class="w320">自提点</th>
            <th class="w320">状态</th>
            <th class="w320">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach from=$data.list item=m}
        <tr>
            <td align='right'><img src="{$m.photo|photo}" width="50" style="border-radius: 50%" /></td>
            <td align='left'>{$m.username}</td>
            <td align='center'>{$m.take_area}{$m.take_address}</td>
            <td align='center'>
                {if $m.status eq 1}
                <a href="javascript:;" onclick="main.chang_status('{$m.id}','take_user','status','id')" class="c-green" title="点击禁用">启用</a>
                {else}
                <a href="javascript:;" onclick="main.chang_status('{$m.id}','take_user','status','id')" class="c-red" title="点击开启">禁用</a>
                {/if}
            <td class='opera' align='center' nowrap>
                <a href='#!take_address/take_user_add/{$m.id}?com=xshow' class='uiBtn' title='编辑'>编辑</a>
                <a href='javascript:;' onclick="main.confirm_del('take_address/take_user_del', '{$m.id}')" class='uiBtn' title='删除'>删除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div class="foot-btn">
        <div class="pager r">{$page}</div>
    </div>
</div>