{include file='../public_btn.html'}
{literal}
<style type="text/css">
.order-info{border:1px solid #ddd; }
.oi-tag{background-color:#eee; line-height:24px; height:24px; padding-left:10px; border-bottom:1px solid #ddd}
.oi-text{padding:10px; line-height:24px}
.oi-goods{}
.oi-goods img{float:left; display:block; border:none; margin:2px}
.oi-goods .oi-name{float:left}
</style>{/literal}
<div class="html-box">
    <table class="tb-goods" style="width:100%;margin-bottom:5px">
        <tr class="order-head">
            <td colspan="8">
                订单编号:<span class="order-no">{$row.order.order_sn}</span><span class="c-gray">（{$row.order.order_code}）</span>，
                下单时间：<span class="order-date">{date('Y-m-d H:i:s',$row.order.c_time)}</span>
            </td></tr>

        {foreach from=$row.order.goods item=g key=k}
        <tr>
            <td class="bdl w5"></td>
            <td class="w60"><img src="{$g.img_src}" style="width:60px" /></td>
            <td style="line-height: 1.4">
                <div class="oi-name">{$g.goods_name}</div>
                <div style="color:#999">{$g.rule|default:''}</div>
                {if $g.goods_info}
                <span class="c-gray">备注：</span>
                <span class="c-orange">{$g.goods_info|nl2br}</span>
                {/if}
                <div class="c-gray">
                    {if $g.goods_spec}{$g.goods_spec}<br>{/if}
                    单价：{$g.sell_price}<br>
                    数量：{$g.buy_num}
                </div>
            </td>            
            {if $k==0}
            <td class="ac bdr" rowspan="{count($row.order.goods)}">
                <b class="c-orange">￥{$row.order.order_amount}</b>
            </td>
            {/if}
        </tr>
        {/foreach}
        <tr>
            <td colspan="7" class="bdl bdr">
                <span class="c-gray">会员名：</span><span>{$row.order.m_username}</span>
                <span class="c-gray">收货人：</span><span>{$row.order.name}[{$row.order.mobile}]</span><br>
                <span><i class="iconfont">&#xe655;</i> {$row.order.area} {$row.order.address}</span>
                {if $row.order.order_tip}
                <br>
                <span class="c-gray">买家备注：</span>
                <span class="c-orange">{$row.order.order_tip|nl2br}</span>
                {/if}
            </td>
        </tr>
    </table>
    <form target="iframeNewsTarget" method="post" action="/business/refund/save" >
        <input type="hidden" name="post[id]" value="{$row.id}" />
        <input type="hidden" name="post[order_id]" value="{$row.order_id}" />
        <table class="table-list">
            <tbody>
            <tr>
                <td class="td-label"><label>退款编号：</label></td>
                <td class="td-input">
                    {$row.id}
                </td>
            </tr>         
            <tr>
                <td class="td-label"><label>申请人：</label></td>
                <td class="td-input">
                    {$row.username}
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>退款原因：</label></td>
                <td class="td-input">
                    {$row.reason_name}
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>退款金额：</label></td>
                <td class="td-input">
                    {$row.refund_amount}
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>退款说明：</label></td>
                <td class="td-input">
                    {$row.note}
                </td>
            </tr>  
            <tr>
                <td class="td-label"><label>凭证上传：</label></td>
                <td class="td-input">
                {foreach from=$row.pic_list item=m}
                <a href="{$m}" target="_blank"><img src="{$m}" width="100px" height="100px"></a>
                {/foreach}  
                </td>
            </tr>
           
            <tr>
                <td class="td-label"><label>状态：</label></td>
                <td class="td-input">                   
                   <label><input type="radio" name="post[status]" value="0" {if $row.status eq 0}checked{/if}>申请中</label>
                   <label><input type="radio" name="post[status]" value="2" {if $row.status eq 2}checked{/if}>拒绝</label> 
                   <label><input type="radio" name="post[status]" value="10" {if $row.status eq 10}checked{/if}>通过</label>                   
                </td>
            </tr>
            {if $row.type==2}
            <tr>
                <td class="td-label"><label>收货地址：</label></td>
                <td class="td-input">
                    <select name="post[address_id]">
                    <option value="">请选择收货地址</option>
                    {foreach from=$row.address_list item=m}
                    <option value="{$m.id}" {if $row.address_id==$m.id}selected{/if}>{$m.name}|{$m.address}|{$m.mobile}</option>
                    {/foreach}
                    </select>
                </td>
            </tr>
            {if $row.express}
            <tr>
                <td class="td-label"><label>快递公司：</label></td>
                <td class="td-input">
                    {$row.express}
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>快递单号：</label></td>
                <td class="td-input">
                   {$row.express_num}
                </td>
            </tr>
            {/if}
            {/if}
            <tr>
                <td class="td-label"><label>备注：</label></td>
                <td class="td-input">
                   <textarea name="post[mark]">{$row.mark}</textarea>
                </td>
            </tr>            
            <tr class="tr-btn">
                <td class="td-label"></td>
                <td class="td-input">
                    <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>
                    <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>
                </td>
            </tr>            
            </tbody>
        </table>
    </form>
</div>