<h3 class="info-tag">
    <a class="uiBtn BtnGreen r" href="javascript:;" onclick="exportMember()">导出Excel</a>
    {foreach from=$btnMenu item=m key=key}
    <a class="uiBtn{if $btnNo==$key} BtnBlue{/if}" href="{$m.url}"{if isset($m.str)} {$m.str}{/if}>{$m.name}</a>
    {/foreach}
</h3>
{literal}
<style type="text/css">
.order-info{border:1px solid #ddd; }
.oi-tag{background-color:#eee; line-height:24px; height:24px; padding-left:10px; border-bottom:1px solid #ddd}
.oi-text{padding:10px; line-height:24px}
.oi-goods{}
.oi-goods img{float:left; display:block; border:none; margin:2px}
.oi-goods .oi-name{float:left}
</style>
{/literal}
<div class="html-box">
    <form class="cond-form clear" action="#!order/pack" method="get" onsubmit="return xForm.submit(this)">
        <div class="f-unit">
            <select name="status_shipping" id="status_shipping">
                <option value="">-发货状态-</option>
                {foreach from=$shippingStatus item=m key=k}
                <option value="{$k}"{if get(status_shipping)==$k} selected="selected"{/if}>{$m}</option>
                {/foreach}
            </select>

            <label class="ui-label">选菜时间：</label>
            <input class="form-i w80 sitem" name="start_time" value="{get(start_time)}" type="text" onclick="WdatePicker()">
            <input style="margin-left:-1px" class="form-i w80 sitem" name="end_time" value="{get(end_time)}" type="text" onclick="WdatePicker()">
            <button type="submit" style="margin-left:10px; margin-top:1px" class="uiBtn BtnBlue">搜索</button>
        </div>
    </form>
    {foreach from=$items item=m key=f}
    {assign var=order value=$m.order}
    <table class="tb-goods" style="width:100%;margin-top:5px;">
        <tr class="order-head">
            <td colspan="8">
                订单编号:<a href="/business#!order/pack/{$order.id}" class="order-no">{$order.order_sn}</a>
                下单时间：<span class="order-date">{date('Y-m-d H:i:s',$order.c_time)}</span>
                {if $order.extension}
                <br>{$order.order_code}：<span class="c-red">{$order.extension.act_name}</span>
                {/if}
            </td>
        </tr>
        <tr>
            <td colspan="8" class="bdl bdr">
                <span class="c-gray">会员名：</span><span>{$order.m_username}</span>
                <span class="c-gray">收货人：</span><span>{$order.name}[{$order.mobile}]</span><br>
                <span><i class="iconfont">&#xe655;</i> {$order.area} {$order.address}</span>
                {if $order.order_tip}
                <br>
                <span class="c-gray">买家备注：</span>
                <span class="c-orange">{$order.order_tip|nl2br}</span>
                {/if}
            </td>
        </tr>
    </table>
    <table class="tb-goods" style="width:100%;margin-top:5px">
        <tr class="order-head">
            <td colspan="8">
                第<span class="order-no">{$m.qishu}</span>次选菜，
                选菜时间：<span class="order-date">{date('Y-m-d H:i:s',$m.c_time)}</span>
            </td>
        </tr>
        {foreach from=$m.goods item=g key=k}
        <tr>
            <td class="bdl w5"></td>
            <td class="w60"><img src="{$g.img_src}" style="width:60px" /></td>
            <td class="bdr" style="line-height: 1.4">
                <div class="oi-name">{$g.goods_name}</div>
                <div class="c-gray">
                    单价：{$g.sell_price}<br>
                    数量：{$g.buy_num}{$g.goods_unit|default:$common.unit}
                    ({($g.goods_pack_num|default:1)*$g.buy_num}{$g.cat_unit|default:$common.unit})
                </div>
            </td>
            {if $k==0}
            <td class="ac bdr w200" rowspan="{count($m.goods)}">
                {if $m.express_name}<div>{$m.express_name}{if $m.express_num}<br>[<a href="http://www.kuaidi100.com/chaxun?com={$m.express_pinyin}&nu={$m.express_num}" target="_blank" title="查看物流">{$m.express_num}</a>]{/if}</div>{/if}
            </td>
            <td class="ac bdr w140" rowspan="{count($m.goods)}">
                {$m.status_name}<br>
                {if $m.status_shipping lt 2}
                <a href="#!order/send_pack/{$order.id}/{$m.qishu}?com=xshow|套餐发货" class="uiBtn BtnGreen BtnXs">套餐发货</a>
                {/if}
            </td>
            {/if}
        </tr>
        {/foreach}
    </table>
    {/foreach}

    <div class="foot-btn">
        <div class="pager r">{$page}</div>
    </div>
</div>

<script type="text/javascript" src="/admin/js/manage/order.js"></script>
<script type="text/javascript">
    function exportMember(){
        var arr = location.hash.split("?");
        var get = arr[1]?('?'+arr[1]):'';
        if(!get){
            com.xtip('导出量较大，请先进行筛选操作！',{ type:1 });
        }else{
            location.href='/business/order/exportExcel/pack/{$id}'+get;
        }
    }
</script>
</div>