{include file='../public_btn.html'}
<div class="html-box">
    <form target="iframeNewsTarget" method="post" action="/business/order/verify_order_code/{$order_id}">
        <input type="hidden" name="post[order_id]" value="">
        <table class="table-list">
            <tbody>
            <tr>
                <td class="td-label"><label>提货码：</label></td>
                <td class="td-input">
                    <input type="text" class="form-i w220" name="post[verify_code]" >
                </td>
            </tr>
            <tr class="tr-btn">
                <td class="td-label"></td>
                <td class="td-input">
                    <input type="hidden" name="Submit" value="1">
                    <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>
                    <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>