<div class="fenxiao-nav">
	<ul class="ul1">
		<li>
			<a href="/agent/mshop/{$member.mid|default:0}"><em><i class="icon iconfenxiao">&#xe62b;</i></em>微店</a>
		</li>
		<li>
			<a href="/agent/team"><em><i class="icon iconfenxiao">&#xe651;</i></em>团队</a>
		</li>
	</ul>
	<div class="fszx-div">
		<table>
			<tr>
				<td>
					<a href="/agent">
						<em><i class="icon iconfenxiao">&#xe60e;</i></em>
						{L('unit_distribution')}中心
					</a>
				</td>

			</tr>

		</table>
	</div>
	<ul class="ul2">
		<li>
			<a href="/member/order"> <em><i class="icon iconfenxiao">&#xe634;</i></em>订单</a>
		</li>
		<li>
			<a href="/agent/comms"><em><i class="icon iconfenxiao">&#xe640;</i></em>{L('unit_comm')}</a>
		</li>
	</ul>
</div>