
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" type="text/css" href="/style/css/mui.min.css">
<link rel="stylesheet" type="text/css" href="/style/css/main.css">
    <title>APP下载</title>
</head>
{literal}
<style>
html{height: 100%;}
.wapapp{position: relative;}
.wapapp1{height: 100%;width: 100%;z-index: 1;position: absolute;left: 0;top: 0;}
.wapapp a{position: absolute;z-index: 2;width:46.8%;left:26.6%;bottom:4% ;display: block;overflow: hidden;}
</style>
{/literal}
<body class="wapapp" >
	<div class="wapapp1" style="background: url('/style/img/wapapp.jpg') no-repeat center center; background-size: cover !important;"></div>
	<a href="#"><img src="/style/img/wapapp-1.png"></a>
</body>
</html>