{include file='../public_btn.html'}
<div class="html-box">
    <table class="table-list">
        <tbody>        
        <tr class="tr-btn">            
            <td class="td-input">                
                {if C('wx_url')}
                <img src="/wechat/build_qrcode?data=http://{C('wx_url')}/goods/team/{$smarty.get.id}" width="240" height="240" />
                {else}
                <img src="/wechat/build_qrcode?data={url('/goods/team/')}{$smarty.get.id}" width="240" height="240" />
                {/if}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $.loadJs('/admin/js/clipboard/clipboard.min.js', function() {


        var clearCopyResult = function() {
            setTimeout(function() {
                var $result = $('.copy-result');
                $result.html('');
                $result.removeClass('on');
            }, 3000);
        }

        var clipboard = new Clipboard('.btn');
        clipboard.on('success', function(e) {
            var $result = $('.copy-result');
            if (!$result.hasClass('on')) {
                $result.html('已复制到剪切板');
                $result.addClass('on');
                clearCopyResult();
            }
            e.clearSelection();
        });

        clipboard.on('error', function(e) {
            var $result = $('.copy-result');
            if (!$result.hasClass('on')) {
                $result.html('请选中文字使用ctrl+c来复制');
                $result.addClass('on');
                clearCopyResult();
            }
        });
    });
</script>
