{$headTit=$data.cat.catname}
{include file="public_header.html"}
<link href="/style/style/index.css" rel="stylesheet" />
<div class="main pd_10">
    <div class="see_articel">
        <div class="active_top ">
            <h1>{$data.row.title}</h1>
        </div>
        <div class="see1 active_color">
            <p style="margin-bottom: 10px;"><img src="{zz mod=fileurl source=$data.row.thumb}" /></p>
            {$data.row.content|stripcslashes}<br>
            <div class="clear"></div>
        </div>
        {zz mod=pn var=pn catid=$data.row.catid id=$data.row.id}
        <ul class="pager">
            <li>上一个：{if $pn.prev}<a href="{$pn.prev.url}">{$pn.prev.title}</a>{else}没有了...{/if}</li>
            <li>下一个：{if $pn.next}<a href="{$pn.next.url}">{$pn.next.title}</a>{else}没有了...{/if}</li>
        </ul>
    </div>
</div>
{include file="public_footer_nav.html"}
{include file="public_footer.html"}