html{
	color: #333;
	min-width: 320px;
	font-size: 14px;
	font-family: "微软雅黑";	
	
}
html,body{ overflow-x: hidden;}
:selection{
	background: #b3d4fc;
	text-shadow: none;	
}

ul,h1,h2,h3,p,div,dl,dt,dd,figure,figcaption{
	font-weight: 400;
	margin: 0;
	padding: 0;
}
li{list-style: none;}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
  	    -ms-box-sizing: border-box;
   			box-sizing: border-box;
}
img{ max-width: 100%; height: auto; transition: all .5s;}
/*=============
 * 宸ュ叿鏍峰紡
 =============*/
.center-block{
	display: block;
	margin-right: 0;
	margin-left: 0;
}
.pull-right{
	float: right;
}
.pull-left{
	float: left; 
}

.text-right{
	text-align: right !important;
}
.text-left{
	text-align: left !important;
}
.text-center{
	text-align: center !important;
}

.hide{
	display: none !important;
}
.show{
	display: block !important;
}
.invisible{
	visibility: hidden;
}
.text-hide{
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.clearfix:after{
	content: '';
	display: table;
	clear: both;
	  }


*{box-sizing: border-box;}
a{
	color: #333;
	text-decoration: none;
	transition: all .4s; 
}
a:active,a:hover{
	color: #ff321d;
	text-decoration: none;
}


.top-box{
	background: #fff;
	box-shadow: 0 1px 6px rgba(0,0,0,.5);
	height: 120px;
	z-index: 10;
	position: relative;
}

.content-box{
	width: 1110px;
	margin: 0 auto;
	position: relative;
	
}
.top-logo{padding-top: 30px;float: left;}


.top-abtn{
	display: block;
	border-radius: 6px;
	color: #ff321d;
	position: absolute;
	top: 40px;
	right: 0;
}
.top-abtn a.top-a1{
	border: 1px #e5e5e5 solid;
	padding: 0 15px;
	height: 36px;
	line-height: 36px;
	display: block;
	font-size: 16px;
	color: #ff321d;
	border-radius: 8px;
}

.top-dlh a{
	display: inline-block !important;
	margin-top: 6px;
}
.top-dlh .top-dlhdiv{
	margin-top: -15px;
	display: block;
}
.top-dlh .top-dlhdiv span{
	
	color: #ff321d;
}

.top-dlh{
	color:#333;
	font-size: 16px;
	text-align: center;
}
.nav{padding: 40px 0 0 30px;overflow:hidden}
.nav li{float: left;display: inline-block;overflow: hidden;}
.nav li.nav-mf a{font-size: 16px;background: #ff321d;color: #fff;border-radius:6px;}
.nav li a{
	display: block;
	height: 36px;
	line-height: 36px;
	font-size: 20px;
	padding: 0 20px;
}
.nav li a span{
	background: #ff321d;
	padding:0 2px;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
}

.box-01{
	background: #f3f6f9;
	padding: 58px 0;
}

.title-01{
	text-align: center;
	font-size: 40px;
	font-weight: 100;
	color: #333333;
}
.pin-hdbox{
	margin: 50px -15px 0;
}
.pin-hdbox li{
	background: #fff;
	width: 255px;
	border-radius: 10px;
	height: 290px;
	text-align: center;
	float: left;
	margin: 0 15px;
	overflow: hidden;
	position: relative;
}
.hd-tit{
	width: 168px;
	margin: 0 auto;
	position: relative;
	font-size: 24px;
	font-weight: bold;
	height: 32px;
}

.hd-tit:after{
	content: "";
	height: 2px;
	
	position: absolute;
	left: 0;
	right: 0;
	top: 14px;	
	z-index: 1;
}
.col-01 .hd-tit:after{
	background: #FF321D;
}
.col-01 h2{
	color: #ff321d;
}
.col-01 .hd-btn{
	background: #ff321d
}

.col-02 .hd-tit:after{
	background: #1e9bf0;
}
.col-02 h2{
	color: #1e9bf0;
}
.col-02 .hd-btn{
	background: #1e9bf0
}


.col-03 .hd-tit:after{
	background: #2cc47f;
}
.col-03 h2{
	color: #2cc47f;
}
.col-03 .hd-btn{
	background: #2cc47f
}

.col-04 .hd-tit:after{
	background: #ff7800;
}
.col-04 h2{
	color: #ff7800;
}
.col-04 .hd-btn{
	background: #ff7800
}
.pin-hdbox li .hd-btn{
	width: 54px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	color: #fff;
	display: block;
	margin: 0 auto;
	border-radius:12px;
}

.hd-tit span{
	background: #fff;
	position: absolute;
	width: 120px;
	text-align: center;
	z-index: 10;
	left: 50%;
	top: 0;
	margin-left: -60px;
}
.pin-hdbox li p{
	font-size: 14px;
	color: #ababab;
	padding-top: 5px;
}
.hd-img{
	height: 160px;
	padding: 25px 0;
}

.hd-abs{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background:rgba(0,0,0,.8);
	z-index: 100;
	text-align: center;
	display: none;
}

.hd-abs img{
	display: block;
	width: 171px;
	height: auto;
	margin: 0 auto;
}
.hd-abs h3{
	color: #fff;
	font-size: 24px;
	padding: 24px 0 15px;
}
.pin-hdbox li{
	cursor: pointer;
}
.pin-hdbox li:hover .hd-abs{
	display: block;
}

.hd-abtn{
	display: block;
	margin:40px auto 0;
	border:1px #ff321d solid;
	color: #ff321d;
	width: 190px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 20px;
	font-size: 16px;
}
.hd-abtn:hover{
	background: #ff321d;
	color:#fff;
}
.box-02{
	padding: 58px 0;
	background: #fff;
	text-align: center;
}

.tit-02 h2{
	font-size: 40px;
	padding-bottom: 15px;
}

.tit-02{
	text-align: center;
}

.tit-02 p{
	color: #ababab;
	font-size: 16px;
}
.lc-box{
	margin-top: 40px;
}
.lc-li li{
	/*text-align: center;*/
	float: left;
	width:170px;
	margin-right: 140px;
	font-size: 18px;
}
.lc-li li.no{
	margin: 0;
}

.lc-abtn{
	display: block;
	margin: 40px auto 0;
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	background: #ff321d;
	color: #fff;
	border-radius: 20px;
}
.lc-abtn:hover{
	color: #FFFF00;
}


.hot-new{
	margin: 0 -15px;
	padding-top: 35px;
}
.hot-new dl{
	width: 540px;
	margin: 0 15px 20px;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	height: 155px;
	overflow: hidden;
}

.hot-new dl:hover{
	box-shadow: 0 0 8px rgba(0,0,0,.2);
}

.hot-new dt{
	float: left;
}
.hot-new dt img{
	width: 140px;
	height: 120px;
}
.hot-new dd{
	margin-left:160px;
}
.hot-new dd a{
	font-size: 16px;
	font-weight: bold;
	height: 38px;
	line-height: 30px;
	overflow: hidden;
	display: block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;	
	
}
.hot-new dd p{
	font-size: 14px;
	line-height: 24px;
	color: #818181;
	height: 48px;
	overflow: hidden;
}

.hot-xx{
	height: 35px;
	line-height: 35px;
	text-align: right;
}
.hd-abtn3{
	width: 130px;
	margin-top: 20px;
}


.footer{
	background: #333333;
	padding: 40px 0;
}

.rwm-box div.rwm01{
	float: left;
	margin-right: 60px;
	font-size: 18px;
	color: #fff;
}
.rwm-box div.rwm01 p{
	padding-top: 10px;
}
.rwm-box div.rwm02{
	margin-right: 0;
}

.b-nav {
	color: #fff;
	width: 640px;
	border-bottom: 1px #4b4b4b solid;
	font-size: 14px;
	line-height: 30px;
}
.b-nav a{
	color: #fff;
	display: block;
}
.b-nav a:hover{
	color: #ff321d;
}

.b-nav li{
	float: left;
	min-width: 160px;
	padding-bottom: 20px;
}
.b-nav h2{font-size: 18px;}

.copy{
	color: #ababab;
	font-size: 14px;
	padding-top: 15px;
}

.gd-rwm{
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 100;
	background: #fff;
	text-align: center;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	margin-top: -100px;
}
.gd-rwm2{
	border: 1px #ff321d solid;
	border-radius: 8px;
	padding: 8px;
	font-size: 14px;
}
.gd-rwm2 img{
	max-width: 120px;
}
.ban-box a{
	position: absolute;
	left: 50%;
	top: 240px;
	margin-left: -105px;
}

.title-01 span{
	color: #ff321d;
}
.plyp-box{
	margin: 50px -15px;
}
.plyp-box li{
	width: 255px;
	height: 240px;
	background: #fff;
	box-shadow:0 0 6px rgba(0,0,0,.3);
	float: left;
	margin: 0 15px;
	border-radius: 15px;
	text-align: center;
	position: relative;
	overflow: hidden;
	
	
}
.plyp-box li img{
	display: block;
	margin: 45px auto 24px;
}
.plyp-box li p{
	font-size: 24px;
}

.pl-abs{
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	padding: 25px;
	color: #fff;
	background: rgba(0,0,0,.7);
	display: none;
}
.pl-abs p{
	font-size: 14px !important;
	text-align: left !important;
	line-height: 28px;
}
.pl-abs h2{
	font-size: 20px;padding-bottom: 8px;
}

.plyp-box li:hover .pl-abs{
	display: block;
}
.news-box{
	background: #f3f6f9;
	padding-top: 50px;
	padding-bottom: 30px;
}

.news-dl{
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	position: relative;
	max-height: 160px;
	overflow: hidden;
	margin-bottom: 28px;
}

.news-dl dt{
	float: left;
	width: 140px;
	height: 120px;
}
.news-dl img{
	width: 140px;
	height: 120px;
}
.news-dl dd{
	margin-left: 160px;
	padding-right: 100px;
	font-size: 14px;
	line-height: 22px;
	color: #818181;
}

.news-dl dd a{
	font-size: 16px;
	font-weight: bold;
	display: block;
	line-height: 36px;
	height: 36px;
}

.n-tt{
	text-align: right;
}

.n-tt{
	height: 38px;
	line-height: 38px;
}
.n-tt span.pull-left{
	background:url(../img/kan.png) left center no-repeat;
	padding-left: 30px;
}

.news-dl:after{
	content: "→";
	width: 44px;
	height: 44px;
	border-radius: 100%;
	border: 1px #e7e7e7 solid;
	position: absolute;
	top: 50px;
	right: 40px;
	font-size: 20px;
	text-align: center;
	line-height: 44px;
	color: #e7e7e7;
}

.news-dl:hover{
	box-shadow: 0 0 8px rgba(0,0,0,.1);
}
.news-dl:hover:after{
	background: #ff321d;
	border: 1px #ff321d solid;
	color: #fff;
}

.new-page{
	font-size: 14px;
	font-family: arial;
	text-align: center;	
}
.new-page a{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0 15px;
	background: #fff;
	border: 1px #e6e6e6 solid;
	margin: 0 2px;
}
.new-page a:hover,.new-page a.dq{
	background: #ff321d;
	border: 1px #ff321d solid;
	color: #fff;
}


.news-xq{
	background: #fff;
	padding: 30px;
}
.news-tt{
	position: relative;
	padding-right: 70px;
	border-bottom: 1px #f0f0f0 solid;
	padding-bottom: 10px;
}
.news-tt h1{
	font-size: 22px;line-height: 1.6;color: #333;
	padding-bottom: 8px;
}
.news-tt p{
	height: 35px;
	line-height: 35px;
	color: #818181;
}
.news-tt p span{
	padding-left: 25px;
	padding-right: 35px;
	background: url(../img/kan.png) no-repeat left center;
	display: inline-block;
}
.fx-abs{
	position: absolute;
	right: 0;
	top: 10px;
	background:#fff url(../img/fx1.png) no-repeat center center;
	width: 50px;
	height: 50px;
	border: 1px #e5e5e5 solid;
}
.bdshare-button-style0-24 a, .bdshare-button-style0-24 .bds_more{
	background: transparent !important;
}
.bdshare-button-style0-24{
	width: 50px;
	height: 50px;
}
.newx-txt1{
	padding: 20px 0;
	font-size: 14px;
	line-height: 28px;
	color: #818181;
}
.newx-txt1 img{
	max-width: 100%;
}

.news-fy{
	border-top: 1px #f0f0f0 solid;
	padding-top: 15px;

}
.news-fy li{
	float: left;
	width: 50%;
	display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	padding: 0 15px;
	font-size: 16px;
}


.app-box{
	background: url(../img/appxz.jpg) no-repeat center top;
	height: 779px;
}

.app-xz{
	padding-top: 156px;
	width: 474px;
}
.app-xz p{
	padding-top: 25px;
	font-size: 26px;
	color: #fff;
}

.slideTxtBox .hd{
	float: left;
	margin-right: 35px;
}
.slideTxtBox .hd img{
	display: block;
	margin-bottom: 28px;
	cursor: pointer;
}

.slideTxtBox{
	margin-top: 35px;
}

.help-l p{
	color: #ffbcb5;
	font-size: 22px;
	padding-top: 70px;
}
.help-l h2{
	font-size: 48px;
	color: #fff;
	padding-top: 15px;
}
.help-r{
	width: 450px;
	padding-top: 90px;
	font-size: 20px;
	line-height: 35px;
}

.hot-box{
	background: #fff;
	border-radius: 10px;
	padding-bottom: 40px;
}

.hot-list{
	padding:30px;
	font-size: 14px;
	line-height: 28px;
	color: #818181;
}
.hot-list h2{
	font-size: 16px;
	color: #333;
	padding-bottom: 15px;
	font-weight: bold;
}
.hot-list h2 a{
	display: block;
}
.hot-list li{
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px #f1f1f1 solid;
}
.lxwm-box{
	padding: 50px 0 10px;
}
.lxwm-box li{
	float: left;
	width: 25%;
	padding: 0 30px;
	text-align: center;	
	font-size: 18px;
	line-height: 30px;
	color: #818181;	
}
.lxwm-box li h3{
	color: #333;
	padding: 10px 0;
}

.dl-box{
	background: rgba(0,0,0,.5);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	display:none;
}

.slideTxtBox2{
	background: #fff;
    width: 400px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    position: fixed;
}
.slideTxtBox2 .hd li{
	float: left;
	width: 50%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	background: #ccc;
	cursor: pointer;
}
.slideTxtBox2 .hd li.on{
	background: #ea120f;
    color: #fff;
}

.slideTxtBox2  .bd{
	padding: 10px 30px;
}
.slideTxtBox2  .bd li{
	padding: 10px 0;
	position: relative;
}
.slideTxtBox2  .bd li input{
	height: 34px;
	line-height: 34px;
	width: 225px;
	padding: 0 10px;
}
.slideTxtBox2  .bd li label{
	display: inline-block;
	width: 100px;
	text-align: right;
}
.slideTxtBox2  .bd li button{
	width: 90%;
	display: block;
	margin: 0 auto;
	height: 40px;
	background: #E9120F;
	border: none;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	
}





.slideTxtBox2  .bd li .zc-btn2{
	position: absolute;
	width: 100px;
	right: 15px;
	top: 10px;
	height: 34px;
	line-height: 34px;
	
}
.slideTxtBox2  .bd li input.zc-inpt2{
	width: 140px;
	
}
a.yhm-box{
	border: none;
	padding: 0;
}
a.yhm-box:hover{
	background:none;
	color: #333;
	border: none;
}
.gb-btn{
	position: absolute;
	right: -15px;
	top: -15px;
	z-index: 300;
	cursor: pointer;
	background: #fff;
	border-radius: 100%;
	width: 30px;
	height: 30px;
}
.gb-btn img{
	width: 20px;
	height: auto;
	position: absolute;
	left: 5px;
	top: 5px;
}

.rz-box{
	background: #fff;
	padding: 20px;color: #626262;
}

.rzlc-box{
	background: url(../img/rzban.jpg) no-repeat center bottom;
	height: 250px;
	color: #fff;
}
.rzlc-t1{
	font-size: 32px;
	padding-top: 70px;
}
.rzlc-t1 span{font-size: 38px;padding-bottom: 10px;display: inline-block;}

.rzlc-li li{
	float: left;
	font-size: 22px;
	line-height: 250px;
	padding-left: 25px;
	text-shadow: 0 2px 8px rgba(0,0,0,.3);
}
.rzlc-li li.active{
	color: #ff0;
}

.skzd-box{
	background: #fff;
	margin: 100px auto;
	border: 1px #dbdbdb solid;
	padding: 30px;
	width: 600px;
	text-align: center;
	
}
.skzd-box h1{
	font-size: 30px;
	padding-bottom: 20px;
	
}
.skzd-box h2{
	font-size: 24px;
}

.lc-dbox{
}
.lc-dbox h2{
	font-size: 20px;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px #adadae dashed;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.lc-dbox h2 span{font-size: 0.75em;color: #777;}
.lc-dbox table{
	width: 100%;
}
.lc-dbox th,.lc-dbox td{
	line-height: 30px;
	font-size: 14px;
	padding-bottom: 15px;
	vertical-align: top;
}
.lc-dbox th{
	width: 250px;
	text-align: right;
	font-weight:bold;
	padding-right: 15px;	
}
.lc-dbox th.tt1{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}
.lc-dbox th span{
	color: #EA120F;
}
.lc-dbox td label{
	padding: 0 8px;
}

.zc-inpt{
	padding:5px;
	height: 20px;
	line-height: 20px;
	border: 1px #dbdbdb solid;
	color: #282828;
	font-size: 14px;
	height: 34px;
	line-height: 34px;
}

.rz-textarea{
	padding:5px;
	line-height: 20px;
	border: 1px #dbdbdb solid;
	color: #282828;
	font-size: 14px;
	width: 380px;
	height: 100px;
}

.zc-select{
	height: 30px;
	line-height: 30px;
	border: 1px #dbdbdb solid;
	color: #282828;
	font-size: 14px;
	padding: 0 5px;
}
.shop-name{
	width: 380px;
	height: 34px;
	line-height: 34px;
}

.zc-text{
	border: 1px #dbdbdb solid;
	width: 380px;
	height: 100px;
	padding: 5px;
}
.rz-btn1{
	background: #ea120f;
	color: #fff;
	width: 300px;
	height: 50px;
	border: none;
}

.div-imgbox{
	width: 90px;
	height: 90px;
	float: left;
	margin-right: 20px;
}
.btn2{
	float: left;
	margin-top: 30px;
}


.yy-dbox{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	background: rgba(0,0,0,.5);
}

.yy-nrbox{
	background: #fff;
	width: 500px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -250px;
}

.yy-nrtxt{
	
	width: 475px;
	height: 475px;
	margin: 15px auto;
	
}
.yy-nrtxt h2{
	text-align: center;
	border-bottom: 1px #dbdbdb solid;
	padding-bottom: 15px;
}

.skzd-box a{
	color: #e43840;
}

a.xq-btn{
	display: block;
	 margin: 15px auto 0;
	font-size: 16px;
	color: #ff321d;
	text-align: center;
	width: 110px;
}

.copy  a{
	color: #ababab;
}
.copy a:active,.copy a:hover{
	color: #ff321d;
	text-decoration: none;
}

.ruzhu{padding:100px 50px 200px;}
.ruzhu li{float: left;width: 45%;padding:0 2.5%;display: inline-block;overflow: hidden;}
.ruzhu-li{background: #fff;border-radius: 8px;padding:55px 10px;text-align: center;line-height: 2;}
.ruzhu-li h3{font-size: 24px;}
.ruzhu-li p.ruzhu-color{color:#d4d4d4;padding-bottom: 10px;font-size: 16px;}
.ruzhu li .ruzhu-li .ruzhu-a{padding-top:25px;}
.ruzhu li.ruzhu-1 .ruzhu-li .ruzhu-a{margin-top: 4em;}
.ruzhu li .ruzhu-li .ruzhu-a a{display: inline-block;border-radius: 5px;background: #f5495e;width: 140px;color: #fff;line-height: 3.2;}
.ruzhu-2{margin: 0 -15px;}
.ruzhu-2 label{float: left;width: 25%;display: inline-block;padding: 0 15px;overflow: hidden;font-weight:bold;text-align: left;}
.ruzhu-2 label input{margin-right: 8px;vertical-align: middle;}
.ruzhu-3 span{float: right;text-decoration: underline; color: #ccc;font-size: 14px;cursor: pointer;}
.screen{background: rgba(0,0,0,.5);clear: both;overflow: hidden;width: 100%;height: 100%;position: fixed;left: 0;top: 0;z-index: 200;display: none;}
.ruzhu1{position: fixed;left: 50%;top: 10%;background: #fff;border-radius: 5px;box-shadow:0 3px 9px rgba(0,0,0,.3);max-height: 80%;width: 900px;z-index: 201;margin-left: -450px;display: none;}
.ruzhu1-top{padding: 15px;line-height: 30px;border-bottom: 1px solid #e5e5e5;}
.ruzhu1-top dt{float: right;font-size: 22px;color:rgba(0,0,0,0.3);font-weight: bold;cursor: pointer;}
.ruzhu1-top dd{overflow: hidden;font-size: 18px;}
.ruzhu1-1{padding: 20px;font-size: 16px;overflow-y: auto;line-height: 2.2;}
.ruzhu1-1 img{max-width: 100%;}
.ruzhu1-2{padding: 15px;line-height: 30px;border-top: 1px solid #e5e5e5;}
.ruzhu1-2 span{float: right;color: #fff;border-radius: 5px;padding: 0 15px;background: #337ab7;display: inline-block;line-height: 2.4;cursor: pointer;}

.form-control {
  display: block;
  width: 100%;
  max-width: 410px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #545454;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control {
  height: auto;resize: none;
}
.lc-dbox td p.ruzhu-p{padding-top:10px;clear: both;overflow: hidden;}
.color{color: red;}
.lc-dbox td label.ruzhu-label{float: left;margin: 0 20px 0 0;min-width: 120px;font-weight:bold}
.lc-dbox td label.ruzhu-label input{vertical-align: middle;margin-right: 10px;}
.ruzhu2-1{clear: both;overflow: hidden;line-height: 2.3;padding: 5px 0 20px;}
.ruzhu3{float: left;margin-right: 20px;height:110px;}
.ruzhu3 img{height: 100%;}
.ruzhu3-1{margin: 45px 20px 0 0;float: left;display: inline-block;position: relative;}
.ruzhu3-1 span{border: 1px solid #ddd;color:#454343;line-height: 28px;border-radius: 5px;overflow: hidden;padding: 0 15px;display: block;}
.ruzhu3-1 .ruzhu3-input{position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 2;opacity: 0;}
.ruzhu3-1:hover span{background: #eee;}
.ruzhu3-w{width: 160px;}
.lc-dbox td span.pull-left{padding: 0 20px;}
.ruzhu3-2{font-weight: bold;width: 1.5em;margin: 0 40px;}
.ruzhu3-3{float: left;}
.ruzhu3-3 dt{float: left;width: 110px;margin-right: 20px;}
.ruzhu3-3 dd{overflow: hidden;font-weight: bold;}
.ruzhu3-3 dd p{font-weight: bold;}
.ruzhu3-4{clear: both;overflow: hidden;font-weight: bold;padding-bottom: 10px;}
.ruzhu3-5{clear: both;overflow: hidden;padding-bottom: 10px;}
.lc-dbox td.ruzhu3-bor{text-align: center;border-top: 1px solid #ccc;padding:50px 0;}
.ruzhu3-input1{border-radius: 6px;padding: 0 50px;line-height: 40px;margin: 0 30px;border: 1px solid;font-size: 14px;cursor: pointer;}
.ruzhu3-input1.ruzhu3-bg{background: #fff;border-color: #bfbfbf;color: #626262;}
.ruzhu3-input1.ruzhu3-bg1{background: #f5495e;border-color: #f5495e;color: #fff;}
.ruzhu3-ul{margin: 5px -10px;clear: both;overflow: hidden;}
.ruzhu3-ul li{float: left;min-width: 33.3333%;padding: 0 10px;display: inline-block;overflow: hidden;color:blue;cursor: pointer;}
.ruzhu4{margin:0 auto; padding: 50px 0 100px;width: 650px;text-align: center;}
.ruzhu4-1{background: #fff;padding: 80px 20px;clear: both;overflow: hidden;font-size: 21px;line-height: 2;}
.ruzhu4-1 big{display: block;overflow: hidden;font-size: 24px;}
.ruzhu4-1 p{font-weight: 200;}
.ruzhu4-1 a{display: block;overflow: hidden;}

.ruzhu-select.form-control{max-width: 170px;margin-right: 15px;}
.ruzhu-w.form-control{max-width: 345px;float: left;}

.ruzhu4-img{position: relative;float: left;border: 1px solid #ccc;border-radius: 5px;margin-left: 5px;padding: 0 12px;cursor:pointer;}
.ruzhu4-img span{display: block;overflow: hidden;line-height: 32px;}
.ruzhu4-img p{position: absolute;left: 0;top: 0;display: none;}
.ruzhu2-ul{clear: both;overflow: hidden;padding: 5px 0;}
.ruzhu2-ul li{clear: both;overflow: hidden;}
.ruzhu2-ul li .ruzhu2-li span.rz_show{color: #00f;cursor: pointer;display: inline-block;padding: 0 10px;}
.ruzhu2-ul li .ruzhu2-li1{display: none;}



.free{background: #f3f6f9;padding: 50px 0;}
.free .content-box{background: #fff;padding: 50px 130px;}
.free-top{text-align: center;color: #ff321d;line-height: 2;padding-bottom: 30px;}
.free-top h1{color: #333;font-size: 30px;}
.free-ul li{float: left;width: 50%;padding: 15px;line-height: 40px;}
.free-ul li .free-li{border:1px solid #e5e5e5;border-radius: 5px;overflow: hidden;padding: 6px;}
.free-input{float: left;width: 100%;border: 0;display: block;border: 0;padding: 0 15px;height: 40px;line-height: 40px;outline: none;font-size: 16px;}
.free-ul li .free-input.free-w{width: 72%;}
.free-ul li p{overflow: hidden;}
.free-input1{border-radius: 5px;display: block;width: 100%;text-align: center;background: #ffae00;color: #fff;font-size: 16px;border: 0;cursor: pointer;}
.free-ul li.free-li-w{width: 100%;text-align: center;}
.free-ul li.free-li-w label{display: block;overflow: hidden;color: #818181;}
.free-ul li.free-li-w label input{vertical-align: middle;margin-right: 10px;}
.free-ul li.free-li-w label span{color: #3388ff;display: inline-block;}
.free-input2{width: 230px;display: inline-block;text-align: center;font-size: 20px;height: 2.7em;border-radius: 5px;background: #ff321d;color: #fff;border: 0;cursor: pointer;}
.free1{text-align: center;padding: 20px 0;line-height: 2;}
.free1 h1{color: #333;font-size: 30px;line-height:3;}
.free1-p{padding: 5px 0;color: #ababab;font-size: 16px;}
.free1-p a{color: #3388ff;}
.free1-1{padding: 30px 0;line-height:2.7;}
.free1-1 a{width: 230px;display: inline-block;font-size: 20px;border-radius: 5px;background: #ff321d;color: #fff;border: 0;}

.ban-box{height: 600px;}
.ban-box li{display: block;overflow: hidden;height: 600px;}

