{include file='../public_btn.html'}
<div class="html-box">
    <form target="iframeNewsTarget" method="post" action="/manage/robots/add" >
        <table class="table-list">
            <tbody>
            <tr>
                <td class="td-input" colspan="2">
                    <textarea name="robots"></textarea>
                </td>
            </tr>
            <tr>
                <td class="td-input" colspan="2">
                    用户名|用户昵称|手机号码 多条用回车区分
                </td>
            </tr>
            <tr class="tr-btn">
                <td class="td-label"></td>
                <td class="td-input">
                    <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>
                    <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>