{include file='../public_btn.html'}
<div class="html-box">
    <table class="list">
        <thead>
        <tr>
            <th class="w30">ID</th>
            <th class="w320">电话</th>
            <th class="w320">区域</th>
            <th class="w320">详细地址</th>
            <th class="w320">核销人数</th>
            <th class="w320">状态</th>
            <th class="w320">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach from=$data.list item=m}
        <tr>
            <td align='center'>{$m.id}</td>
            <td align='center'>{$m.mobile}</td>
            <td align='center'>{$m.area}</td>
            <td align='center'>{$m.address}</td>
            <td align='center'>{$m.user_count|default:0}&nbsp;<a href="#!take_address/take_user?com=xshow&take_id={$m.id}">[查看]</a></td>
            <td align='center'>
                {if $m.status eq 1}
                <a href="javascript:;" onclick="main.chang_status('{$m.id}','take_address','status','id')" class="c-red" title="点击开启">禁用</a>
                {else}
                <a href="javascript:;" onclick="main.chang_status('{$m.id}','take_address','status','id')" class="c-green" title="点击禁用">开启</a>
                {/if}
            </td>
            <td class='opera' align='center' nowrap>
                <a href='#!take_address/edit/{$m.id}?com=xshow' class='uiBtn' title='编辑'>编辑</a>
                <a href='javascript:;' onclick="main.confirm_del('take_address/del', '{$m.id}')" class='uiBtn' title='删除'>删除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div class="foot-btn">
        <div class="pager r">{$page}</div>
    </div>
</div>