{include file='../public_btn.html'}
<div class="html-box">
    <form id="form-score" target="iframeNewsTarget" method="post" action="/manage/score/index/{$row.id}">
        <input type="hidden" name="post[rule_id]" value="{$row.id}" />
        <table class="table-list">
            <tbody>
                <tr>
                    <td class="td-label">
                        <label>购物积分说明: </label>
                    </td>
                    <td>
                        <h3>{$row.description}</h3>
                    </td>
                </tr>
                <tr>
                    <td class="td-label">
                        <label>购物积分开关: </label>
                    </td>
                    <td class="td-input">
                        <fieldset style="border:none;padding:0;margin:0">
                            <label>
                                <input type="radio" class="form-i" name="post[status]" value="1" {if $row.status}checked="checked" {/if}/>开启
                            </label>
                            <label>
                                <input type="radio" class="form-i" name="post[status]" value="0" {if empty($row.status)}checked="checked" {/if}/>关闭
                            </label>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td class="td-label">
                        <label>购物积分比例: </label>
                    </td>
                    <td>
                        <input type="text" class="form-i w40" name="post[percent]" value="{$row.config.percent}"/> (单位百分之一,请填写正整数)
                    </td>
                </tr>
                <tr class="tr-btn">
                    <td class="td-label"></td>
                    <td class="td-input">
                        <button type="button" class="uiBtn BtnGreen e2-score-formSubmit">保存设置</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<script type="text/javascript">
$.loadJs('/admin/js/manage/score.js', function() {

});
</script>
