

/*@media screen and (max-width:321px) {
   .topsoso .topsoso-txt {
        height: 33px;
    }
}

@media screen and (min-width:321px) and (max-width:400px) {
    .topsoso .topsoso-txt {
        height: 33px;
    }
}

@media screen and (min-width:400px) {
   .topsoso .topsoso-txt {
        height: 33px;
    }
}*/
